.explore-container {
    display: grid;
    grid-template-columns: 200px auto;
    margin-left: 20px;
    margin-top: 20px;
}

.explore-main {
    line-height: 0;
   
  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         5;
  column-gap:           0px; 
}

img {
    width: 200px;
}

.save-tattoo,
.saved-tattoo {
    width: 200px;
    margin-bottom: 20px;
}

.save-tattoo,
.saved-tattoo {
    border: none;
    color: white;
    height: 25px
}

.save-tattoo {
    background-color: #961e60;
}

.saved-tattoo {
    background-color: #d26255;
}