@import url('https://fonts.googleapis.com/css?family=Sansita+Swashed');

.header-container { 
    height: 90px;
    display: grid;
    grid-template-columns: auto max-content max-content;
    gap: 20px;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #6D0D87;
}

.header-item,
.link {
    color: whitesmoke;
    text-decoration: none;
}

.title{
    font-family: 'Sansita Swashed';
}