.saved-container {
    margin-left: 20px;
    margin-top: 20px;
}

.saved-main {
    line-height: 0;
   
  -webkit-column-count: 6;
  -webkit-column-gap:   0px;
  -moz-column-count:    6;
  -moz-column-gap:      0px;
  column-count:         6;
  column-gap:           0px; 
}

img {
    width: 200px;
}

.unsave-tattoo {
    width: 200px;
    margin-bottom: 20px;
}